### Strings and string operations
This notebook explains how string operations can be performed. It's just an overview.
You can see all the string methods here - [CLICK HERE](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [ ]:
s1 = "We saw a snake in the bush"

# Some properties of strings:
# 1. Strings are immutable
# So any operation that you perform on string, returns a new string rather than manipulating the current string.

# To change the entire string in uppercase
s1_upper = s1.upper()
print(s1_upper)

# Similarly we have lower

WE SAW A SNAKE IN THE BUSH

In [17]:
# We have swap case too
# It swaps upper case chars with lower case
("VIT GIRLS are No less than trailer park girls!").swapcase()

'vit girls ARE nO LESS THAN TRAILER PARK GIRLS!'

In [6]:
s1_capital = s1.capitalize()
# Only the first alphabet becomes capital
print(s1_capital)

We saw a snake in the bush

In [7]:
# If we want that every first alphabet of each word of the string should be capital
# then use .title method
s1.title()

'We Saw A Snake In The Bush'

In [10]:
# endswith method
abuse = "Yamero temme kusoyaru, haage!"
output = abuse.endswith("haage!")
print(output)

True

In [11]:
output = abuse.endswith("haage")
print(output)

False

In [12]:
# Similarly we have startswith
abuse.startswith("Yamero")

True

In [14]:
# Returns the index, of the first occurence of the string, character string, or substring
abuse.index("temme")

7

In [ ]:
# isalpha method
# Alpha - [a-z,A-Z] not [0-9]
username = "aditya991"
username.isalpha()

False

In [16]:
# isalnum is isalpha + [0-9]
username.isalnum()

True

In [ ]:
# methods like islower and isupper are used to check if it's in lower or upper respectively
# Try it on your own :D

# Join method
# List is our iterable
crcl = ["Chicken", "Egg curry", "Aloo paratha", "So called veg biriyani(AKA pulao)"]

# Syntax:-
# seperator.join(iterable/list)
# seperator is string

output_str = ",".join(crcl) # "," is seperator
print(output_str)